@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;400;600;700&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 2em;
}

@media screen and (max-width: 2560px) {
    html {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 1920px) {
    html {
        font-size: 1em;
    }
}